* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


header {
    background-color: #C2D9F2;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: 2px solid #ccc;
}

a {
  text-decoration: none;
  color: #353E62;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 24px;
}

ul {
  display: flex;
  gap: 30px; 
  justify-content: center; 
  padding: 0;
}

li {
  list-style-type: none;
  color: #353E62;
}

.titulo_header {
    color: #2F3237;
    font-size: 36px;
    font-family: "Silkscreen", sans-serif;

}


main{
    display: flex;
    flex-direction: column;
    
}

.fundo_todo {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #010102;
 
}

.fundo_start {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #010102;

}


.fundo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



.lifebar_w {
  position: absolute;
  bottom: 0;
  left: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

#lifebarW {
  
  display: flex;
  gap: 2px;
}

.barrasVidaW {
  width: 20px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #aaa;
  border-radius: 3px;
  
}

.barrasVidaW.hp {
  background-color: rgb(255, 255, 255);
}

.barrasVidaW.armor {
  background-color: #F06719;
}

.winton{
  height: 400px;
  display: flex;
  bottom: 0;
  left: 2%;
}


/* */


.lifebar_r {
  position: absolute;
  bottom: 0;
  right: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

#lifebarR {
  
  display: flex;
  gap: 2px;
}

.barrasVidaR {
  width: 20px;
  height: 40px;
  background-color: #4d0303;
  border: 1px solid #aaa;
  border-radius: 3px;
  
}

.barrasVidaR.hpR {
  background-color: rgb(255, 255, 255);
}

.reaper{
  height: 330px;
  display: flex;
  transform: scaleX(-1);
  bottom: 0;
}

.botoes {
  background-color: #353E62;
  height: 136px;
  display: flex;
  align-items: center;
}

.ataque1 {
    width: 205px; 
    height: 94px;
    margin-left: 30px;
    background-size: contain;
    border-radius: 18px;
    background-image: url(../assets/arma1.png)
}

.ataque2 {
  width: 205px; 
  height: 94px;
  margin-left: 30px;
  background-size: contain;
  border-radius: 18px;
  background-image: url(../assets/arma2.png)
}
.cura {
  width: 119px; 
  height: 123px;
  margin-left: 30px;
  background-size: contain;
  border-radius: 18px;
  background-image: url(../assets/cura.png)
}
.start {
    position: absolute;
    height: 192px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ataque1:disabled,

#ataque2:disabled,

#cura:disabled {
  background-color: gray;
  opacity: 0.6;
  cursor: not-allowed;
}

.contador{
  position: absolute;
  display: flex;
  justify-content: flex-end;
  font-family: "Silkscreen", sans-serif;
  font-weight: regular;
  color: #F06719;
  font-size: 36px;
  font-weight: bold;
  text-shadow: 3px 3px #010102;

}


footer {
    background-color: #C2D9F2;
    height:82px ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Space Mono", monospace;
    color: #F06719;
}