* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


header {
    background-color: #C2D9F2;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: 2px solid #ccc;
}

a {
  text-decoration: none;
  color: #353E62;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 24px;
}

ul {
  display: flex;
  gap: 20px; 
  justify-content: center; 
  padding: 0;
}

li {
  list-style-type: none;
  color: #353E62;
}

.titulo_header {
    color: #2F3237;
    font-size: 36px;
    font-family: "Silkscreen", sans-serif;

}


main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fundo_todo {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #010102;
 
}

.fundo_start {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #010102;

}


.fundo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.winston_container {
  position: absolute;
  bottom: 0;
  left: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.winton{
  position: absolute;
  height: 400px;
  display: flex;
  bottom: 0;
  left: 2%;
}

.vida_w {
   position: absolute;
   bottom: 420px;
}

.reaper{
  position: absolute;
  height: 330px;
  display: flex;
  transform: scaleX(-1);
  position: absolute;
  bottom: 0;
  left: 75%;
}




.start {
    position: absolute;
    height: 192px;
    display: flex;
    justify-content: center;
    align-items: center;
}


footer {
    background-color: #353E62;
    height:82px ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Space Mono", monospace;
    color: #C2D9F2;
}